arrow==0.13.1
asyncio==3.4.3
Babel==2.6.0
beautifulsoup4==4.7.1
bleach==3.1.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
cssselect==1.0.3
cycler==0.10.0
Delorean==1.0.0
entrypoints==0.3
Envelopes==0.4
flake8==3.7.7
html2text==2018.1.9
humanize==0.5.1
idna==2.8
jieba==0.39
kiwisolver==1.2.0
lxml==4.3.2
matplotlib==3.3.2
mccabe==0.6.1
numpy==1.16.2
pandas==0.24.1
Pillow==7.2.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.7
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2018.9
redis==3.2.0
requests==2.21.0
rq==0.13.0
scipy==1.2.1
six==1.12.0
soupsieve==1.8
tzlocal==1.5.1
urllib3==1.24.1
webencodings==0.5.1
wordcloud==1.8.0
